.main_page_container {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  @media (max-width: 580px) {
    padding: 20px 0;
  }
}

.main_page_content {
  max-width: 800px;
  width: 100%;
  min-height: 600px;
  background: linear-gradient(to bottom, #f8f9fa, #e9ecef, #dee2e6);
  border-radius: 15px;
  padding: 0 20px 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  @media (max-width: 580px) {
    padding: 0 10px 20px;
  }
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ced4da;
}

.btn_container {
  margin: 0 10px;
}
